body {
  /*height: 100%;*/
}
.profile-container{

}

.release-container{
  height: 500px;
  width: inherit;
  margin-top: 5%;

}

.card {
  display:inline-block;
}

.release-card {
    border: 3px round;
    border-radius: 20px;
    border-width: thick;
}
