body {
        /*background-color: #F3EBF6;*/
        background-image: url(background.svg);
        background-repeat: no-repeat;
        background-position: right top;
        background-attachment: fixed;
        font-family: 'Ubuntu', sans-serif;
    }

    .mainBox {
        background-color: #FFFFFF;
        width: 400px;
        height: auto;
        margin: 5em auto;
    }

    /*
    .back {
      display: block;
      text-indent: -9999px;
      width: 100px;
      height: 82px;
      background: url(background.svg);
      background-size: 900px 738px;
    }
    */

    img.logo {
       display: block;
       margin-left: auto;
       margin-right: auto;
       padding-top:0px;
       width: 40%;
    }

    .btn-group button {
      display: block;
      margin-left: auto;
      margin-right: auto;
      cursor: pointer;
      border-radius: 5em;
      color: #fff;
      background: linear-gradient(to right, #F63854, #FF657B);
      border: 0;
      padding: 10px 24px;
      width: 60%;
      display: block;
      margin-bottom: 30px;
      margin-top: 30px;
      font-size: 17px;
      font-family: 'Ubuntu', sans-serif;
    }

    .btn-group button:not(:last-child) {
      border-bottom: none; 
      margin-top: 50px;
    }

    .btn-group button:active {
      box-shadow: 0 5px #666;
      transform: translateY(3px);
    }

    /*
    Add a background color on hover
    .btn-group button:hover {
      background-color: #3e8e41;
    }

    form.form1 {
        padding-top: 2px;
    }
    */

    a {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #F63854;
        text-decoration: none;
    }

    .footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        text-align: center;
      }

    @media (max-width: 600px) {
        .mainBox {
            border-radius: 0px;
        }
